
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }

  body{
    background-color: #e9ecf4;
    text-align: center;
  }

  .ocultar{
    display: none;
  }

  .mostrar{
    display: block;
  }

  h1{
    margin: 20px;
  }

  p{
    font-size: 18px;
  }

  h2{
    font-size: 28px;
  }

  .btn{
    background-color: #000;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid #000;
    margin: 15px;
  }
  
  .btn:hover{
    background-color: white;
    border: 3px solid #000;
    color: black;
    transition: 0.3s;
  }







/* ESTILOS PROFILE */

  .about-container{
    width: 90%;
    max-width: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .profile-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profile{
    display: flex;
    overflow: hidden;
  }

  .img-profile{
    position: relative;
    overflow: hidden;
  }

  .img-profile img:hover{
    transform: scale(1.1);
    transition: 1.5s;

  }

  .img-profile img{
    width: 100%;
    height: 100%;
  }

  .img-profile h2{
    position: absolute;
    color: white;
    left: 50%;
    top: 80%;
    transform: translate( -50%, -15%);
    padding-left: 5px;
    padding-right: 5px;
    background-color: #a8a8a888;
  }

  .img-profile h2:hover{
    background-color: white;
    color: black;
  }

  .text-profile{
    padding: 10px;
    border: 3px solid #000;

  }

  .text-profile h2{
    margin-bottom: 10px;
  }

  .text-profile p{
    text-align: justify;
    padding: 10px;
  }

  .text-profile .btn{
    font-size: 20px;
  }

  /* ESTILOS SERVICIOS */

  .serv-container{
    width: 70%;
    max-width: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .serv img {
    width: 100%;
    display: block;
    filter: grayscale(100%) 
  }

  .serv img:hover{
    transform: scale(1.1);
    transition: 1.5s;
    filter: grayscale(0%);
  }


  .serv-img{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
   
  }

  .serv-img h2{
    font-size: 30px;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    background-color: #a8a8a888;

  } 

  .serv-img h2:hover{
    background-color: white;
    color: black;
  }

  .serv-container .btn{
    width: 100%;
  }

  .social{
    font-size: 50px;
    margin-top: 10px;
    justify-content: center;
    

  }

  .social i{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
   
  }

  .social i:hover{
    transform: scale(1.2);
  }

  .serv-info{
    padding: 10px;
    border: 3px solid #000;
    margin-bottom: 10px;

  }

  .serv-info h2{
    margin-bottom: 10px;
  }

  .serv-info p{
    text-align: justify;
    padding: 10px;
  }

  .serv-info .btn{
    margin: 0;
    font-size: 20px;
  
  }