* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Estilos Header */

header {
  height: 150px;
  background-color: red;
  display: flex;
}

.logo {
  width: 30%;
}

.logo img {
  height: 150px;
}

.menuConteinter {
  width: 70%;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar li {
  margin: 30px;
  color: white;
}
