* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Estilos Header */

header {
  height: 200px;
  color: red;
}
